{% extends "base/base.html" %}
{% load staticfiles %}
{% load filters %}
{% block pageTitle %}Data Insights{% endblock %}
{% block bodyContents %}
    <header id="head" class="secondary"></header>

    <!-- container -->
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Data Insights</li>
        </ol>

        <hr/>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#species" role="tab" data-toggle="tab">Species Overview</a></li>
            <li><a href="#threats" role="tab" data-toggle="tab">Threats Overview</a></li>
            <li><a href="#pa" role="tab" data-toggle="tab">Protected Areas</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="species"><div class="row">

                <!-- Sidebar -->
                <aside class="col-md-4 sidebar sidebar-left">
                    <div class="panel-group" id="sidebar_species">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_species" href="#species_collapseTwo">
                                        Taxonomic Classification Tree
                                    </a>
                                </h4>
                            </div>
                            <div id="species_collapseTwo" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    The tree alongside shows species taxonomic classification as defined by <a href="http://www.catalogueoflife.org/" target="_blank">Catalouge of Life</a>. The level of tree are as follows (from root to leaves):
                                    <ul>
                                        <li>Level 0: All Species (root)</li>
                                        <li>Level 1: Kingdom</li>
                                        <li>Level 2: Phylum</li>
                                        <li>Level 3: Class</li>
                                        <li>Level 4: Order</li>
                                        <li>Level 5: Family</li>
                                        <li>Level 6: Genus</li>
                                        <li>Level 7: Species (leaf)</li>
                                    </ul>
                                    Click on the "blue circle" to view child nodes. You can click on the name of each node to view information of that taxa.

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_species" href="#species_collapseOne">
                                        Species Hierarchical Diversity
                                    </a>
                                </h4>
                            </div>
                            <div id="species_collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    The sunburst chart alongside shows the partitions of species variety in Nepal. The levels of the chart from innermost circle to outer slices are:
                                    <ul>
                                        <li>Level 0: All Species (innermost circle)</li>
                                        <li>Level 1: Kingdom</li>
                                        <li>Level 2: Species Type</li>
                                        <li>Level 3: Class</li>
                                        <li>Level 4: Order</li>
                                        <li>Level 5: Family</li>
                                    </ul>
                                    
                                    Click on each partition to zoom in to the chart. Click on innermost circle to return back.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_species" href="#species_collapseThree">
                                        Animal Census Data
                                    </a>
                                </h4>
                            </div>
                            <div id="species_collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_species" href="#species_collapseFour">
                                        Birds Insights
                                    </a>
                                </h4>
                            </div>
                            <div id="species_collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_species" href="#species_collapseFive">
                                        IUCN Habitat Classification
                                    </a>
                                </h4>
                            </div>
                            <div id="species_collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="#">
                                        <div class="form-group">
                                            <label for="inputGroup_sp_five" class="col-sm-5 control-label">Species Type: </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="inputGroup_sp_five" class="form-control">
                                                    <option selected="selected">All</option>
                                                    <option>Mammal</option>
                                                    <option>Birds</option>
                                                    <option>Herpeto</option>
                                                    <option>Fish</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    
                                    <p>The hierarchical bar chart show different types of habitats of fauna species in Nepal on the basis of <a href="http://www.iucnredlist.org/technical-documents/classification-schemes/habitats-classification-scheme-ver3" target="_blank">IUCN Habitat Classification Scheme</a>.</p>
                                    <p>Click on the "blue" bar to view lower levels of the hierarchy. To return back, click on the background. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- /Sidebar -->

                <!-- Article main content -->
                <article class="col-md-8 maincontent">
                    {% comment %}<header class="page-header">
                        <h3 class="page-title">Species</h1>
                    </header>{% endcomment %}
                    <div id="species_body" style="min-height: 600px;"></div>
                </article>
                <!-- /Article -->

            </div></div>
            <div class="tab-pane" id="threats">
                <!-- Sidebar -->
                <aside class="col-md-4 sidebar sidebar-left">
                    <div class="panel-group" id="sidebar_threats">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_threats" href="#threats_collapseOne">
                                        IUCN Red List Categories
                                    </a>
                                </h4>
                            </div>
                            <div id="threats_collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="#">
                                        <div class="form-group">
                                            <label for="inputGroup_th_one" class="col-sm-5 control-label">Species Type: </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="inputGroup_th_one">
                                                    <option selected="selected">All</option>
                                                    <option>Mammal</option>
                                                    <option>Birds</option>
                                                    <option>Herpeto</option>
                                                    <option>Fish</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_threats" href="#threats_collapseTwo">
                                        CITES Appendix
                                    </a>
                                </h4>
                            </div>
                            <div id="threats_collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="#">
                                        <div class="form-group">
                                            <label for="inputGroup_th_two" class="col-sm-5 control-label">Species Type: </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="inputGroup_th_two">
                                                    <option selected="selected">All</option>
                                                    <option>Mammal</option>
                                                    <option>Birds</option>
                                                    <option>Herpeto</option>
                                                    <option>Fish</option>
                                                </select>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_threats" href="#threats_collapseThree">
                                        NRDB Status
                                    </a>
                                </h4>
                            </div>
                            <div id="threats_collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="#">
                                        <div class="form-group">
                                            <label for="inputGroup_th_three" class="col-sm-5 control-label">Species Type: </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="inputGroup_th_three">
                                                    <option selected="selected">All</option>
                                                    <option>Mammal</option>
                                                    <option>Birds</option>
                                                    <option>Herpeto</option>
                                                    <option>Fish</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_threats" href="#threats_collapseFour">
                                        IUCN Threats Classification
                                    </a>
                                </h4>
                            </div>
                            <div id="threats_collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="#">
                                        <div class="form-group">
                                            <label for="inputGroup_th_four" class="col-sm-5 control-label">Species Type: </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="inputGroup_th_four">
                                                    <option selected="selected">All</option>
                                                    <option>Mammal</option>
                                                    <option>Birds</option>
                                                    <option>Herpeto</option>
                                                    <option>Fish</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <p>The hierarchical bar chart shows different types of threats on fauna species in Nepal on the basis of <a href="http://www.iucnredlist.org/technical-documents/classification-schemes/threats-classification-scheme" target="_blank">IUCN Threat Classification Scheme</a>.</p>
                                    <p>Click on the "blue" bar to view lower levels of the hierarchy. To return back, click on the background. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_threats" href="#threats_collapseFive">
                                        IUCN Conservation Measures
                                    </a>
                                </h4>
                            </div>
                            <div id="threats_collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="#">
                                        <div class="form-group">
                                            <label for="inputGroup_th_five" class="col-sm-5 control-label">Species Type: </label>
                                            <div class="col-sm-7">
                                                <select class="form-control" id="inputGroup_th_five">
                                                    <option selected="selected">All</option>
                                                    <option>Mammal</option>
                                                    <option>Birds</option>
                                                    <option>Herpeto</option>
                                                    <option>Fish</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <p>The hierarchical bar chart shows different types of conservation actions need for fauna species in Nepal on the basis of <a href=http://www.iucnredlist.org/technical-documents/classification-schemes/conservation-actions-classification-scheme-ver2" target="_blank">IUCN Conservation Actions Classification Scheme</a>.</p>
                                    <p>Click on the "blue" bar to view lower levels of the hierarchy. To return back, click on the background. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- /Sidebar -->

                <!-- Article main content -->
                <article class="col-md-8 maincontent">
                    <header class="page-header">
                        <div id="th_body"  style="min-height: 600px;"></div>
                    </header>
                </article>
                <!-- /Article -->

            </div>
            <div class="tab-pane" id="pa">
                <!-- Sidebar -->
                <aside class="col-md-4 sidebar sidebar-left">
                    <div class="panel-group" id="sidebar_pa">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_pa" href="#pa_collapseOne">
                                        Area Coverage
                                    </a>
                                </h4>
                            </div>
                            <div id="pa_collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="area" value="line" checked> Area coverage Time Series (1973-2010)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="area" value="pie"> Present Area coverage partition<br/>
                                        </label>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_pa" href="#pa_collapseTwo">
                                        Species variation and Comparison
                                    </a>
                                </h4>
                            </div>
                            <div id="pa_collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" action="#">
                                        <div class="form-group">
                                            <label for="pa1" class="col-sm-3 control-label">Area I: </label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="pa1">
                                                    {% for item in pa %}
                                                        <option value="{{ item.pa_id }}" {% if forloop.first %}selected{% endif %}>{{ item.name }} {{ item.designation|initials }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="pa2" class="col-sm-3 control-label">Area II: </label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="pa2">
                                                    {% for item in pa %}
                                                        <option value="{{ item.pa_id }}" {% if forloop.counter == 2%}selected{% endif %}>{{ item.name }} {{ item.designation|initials }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#sidebar_pa" href="#pa_collapseThree">
                                        Central Zoo Insights
                                    </a>
                                </h4>
                            </div>
                            <div id="pa_collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="zoo" value="pie" checked> Species Types
                                        </label>
                                    </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="pie_choice" value="species" checked> By Species
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="pie_choice" value="count"> By Number
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="zoo" value="number"> Species Number
                                        </label>
                                    </div>
                                    </div>
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="stack_choice" value="gender" checked> By Gender
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="stack_choice" value="iucn"> By IUCN Status
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="stack_choice" value="origin"> By Origin
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- /Sidebar -->

                <!-- Article main content -->
                <article class="col-md-8 maincontent">
                    <header class="page-header">
                        <div id="pa_body" style="min-height: 600px;"></div>
                    </header>
                </article>
                <!-- /Article -->
            </div>
        </div>


    </div>	<!-- /container -->

{% endblock %}
{% block additionalScripts %}
    <script type="text/javascript" src="{% static "select2/select2.min.js" %}"></script>
    <script src="{% static "js/d3.v3.min.js" %}"></script>
    <script src="{% static "js/leaflet.js" %}"></script>
    <script src="{% static "js/iba.geojson" %}"></script>
    <script src="{% static "js/3DPie.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#species_body").html("Loading...").load("/data_insights/species/tree/");
            iucn_redlist();
            area_chart();

        });

        $('#species_collapseOne').on('show.bs.collapse', function () {
            $("#species_body").html("Loading...").load("/data_insights/species/variety/");
        });

        $('#species_collapseTwo').on('show.bs.collapse', function () {
            $("#species_body").html("Loading...").load("/data_insights/species/tree/");
        });

        function iba_nepal(){
            var geojson;

            var map = L.map('map').setView([28.2639, 83.9722], 7);
            L.tileLayer('http://{s}.tiles.mapbox.com/v3/smaske.i83ipmj1/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
                maxZoom: 18
            }).addTo(map);

            function getColor(d) {

                return d == "Whole" ? '#008A2E' :'#00C800';
            }

            function style(feature) {
                return {
                    fillColor: getColor(feature.properties.Protect),
                    weight: 1,
                    opacity: 1,
                    color: 'white',
                    dashArray: '3',
                    fillOpacity: 0.7
                };
            }


            var info = L.control({position: 'topright'});

            info.onAdd = function (map) {
                this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
                this.update();
                return this._div;
            };

            // method that we will use to update the control based on feature properties passed
            info.update = function (props) {
                this._div.innerHTML = props ?
                        '<h4>'+props.NatName+'</h4>'+ '<br />' + '<b>Area: ' + '</b>' + props.SitArea + ' sq. km.' + '<br />'
                        : '<h4>Important Bird Areas</h4> Hover over an IBA';
            };

            info.addTo(map);

            function highlightFeature(e) {
                var layer = e.target;

                layer.setStyle({
                    weight: 2,
                    color: '#666',
                    dashArray: '',
                    fillOpacity: 0.7
                });



                info.update(layer.feature.properties);
            }

            function resetHighlight(e) {
                var layer = e.target;
                geojson.resetStyle(e.target);
                info.update();
            }

            function zoomToFeature(e) {
                map.fitBounds(e.target.getBounds());
            }

            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });

                if(feature.properties.SitArea <= 5000) {

                    var marker = L.marker(getCenter(feature)).addTo(map);
                }
            }


            geojson = L.geoJson(shapes, {
                style: style,
                onEachFeature: onEachFeature
            }).addTo(map);

            var legend = L.control({position: 'bottomleft'});

            legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend'),
                        grades = ["Whole", "Little/None"],
                        labels = [];

                // loop through our density intervals and generate a label with a colored square for each interval
                for (var i = 0; i < grades.length; i++) {
                    div.innerHTML += '<i style="background:' + getColor(grades[i]) + '"></i> '+ grades[i] + '<br/>';
                }

                return div;
            };

            function getCenter(feature) {
                var coord = feature.geometry.coordinates[0];
                var sumx = 0; var sumy = 0; var n = 0;
                for (var i =0; i<coord.length; i++) {
                    sumx += coord[i][0];
                    sumy += coord[i][1];
                    n++;
                }
                var arr = [sumy/n,sumx/n];

                return arr;
            }

            legend.addTo(map);
        };

        $("#species_collapseFour").on('show.bs.collapse', function () {
            $("#species_body").html("Loading...").html("<h3 class='page-title'>Important Bird Areas (IBAs) of Nepal</h3><div id='map'></div>");
            iba_nepal();
        });

        $('#species_collapseFive').on('show.bs.collapse', function () {
            var group = $("#inputGroup_sp_five").val();
            $("#species_body").html("Loading...").load("/data_insights/iucn/habitat/"+group+"/");

        });

        $("#inputGroup_sp_five").on('change', function(){
            var group = $("#inputGroup_sp_five").val();
            $("#species_body").html("Loading...").load("/data_insights/iucn/habitat/"+group+"/");

        });

        function iucn_redlist() {
            var group = $("#inputGroup_th_one").val();

            var myData1, myData2;
            $.ajax({
                url: "/api/pie/redlist/"+group+"/",
                async: false,
                dataType: 'json',
                success: function(data) {
                    myData1 = data;
                }
            });

            $.ajax({
                url: "/api/pie/redlist_th/"+group+"/",
                async: false,
                dataType: 'json',
                success: function(data) {
                    myData2 = data;
                }
            });

            var color = d3.scale.category20();

            if($("#th_body").html().indexOf('pie_redlist') > -1) {
                Donut3D.transition("iucn_all", getData1(), 150, 120, 30, 0.4);
                Donut3D.transition("iucn_th", getData2(), 150, 120, 30, 0.4);
            }           else {
                $("#th_body").html("<div class='col-md-6' align='center'><h3 class='page-title'>IUCN Red List Status<br/>(All Species)</h3></div><div class='col-md-6' align='center'><h3 class='page-title'>IUCN Red List Status<br/>(Threatened Species)</h3></div><div id = 'pie_redlist'></div>");
                $("#th_body").append("<div align='center'><img src = '{% static "images/iucn/threat-categories.gif" %}'></div>");
                var svg = d3.select("#pie_redlist").append("svg").attr("width",800).attr("height",300);

                svg.append("g").attr("id","iucn_all")

                svg.append("g").attr("id","iucn_th");

                Donut3D.draw("iucn_all", getData1(), 175, 150, 150, 120, 30, 0.4);
                Donut3D.draw("iucn_th", getData2(), 550, 150, 150, 120, 30, 0.4);

            }
            function getData1(){
                return myData1.map(function(d){
                    return {label:d.label, value:d.value, color:color(d.label)};});
            }
            function getData2(){
                return myData2.map(function(d){
                    return {label:d.label, value:d.value, color:color(d.label)};});
            }
        }

        function cites() {
            var group = $("#inputGroup_th_two").val();

            var myData;
            $.ajax({
                url: "/api/pie/cites/"+group+"/",
                async: false,
                dataType: 'json',
                success: function(data) {
                    myData = data;
                }
            });

            var color = d3.scale.category20();

            if($("#th_body").html().indexOf('pie_cites') > -1) {
                Donut3D.transition("cites", getData(), 250, 175, 40, 0.4);

            }
            else {
                $("#th_body").html("<h3 class='page-title'>Species Listed Under CITES Appendices</h3><div id='pie_cites'></div>");
                var svg = d3.select("#pie_cites").append("svg").attr("width",800).attr("height",600);
                svg.append("g").attr("id","cites")
                Donut3D.draw("cites", getData(), 400, 200, 250, 175, 40, 0.4);
            }

            function getData(){
                return myData.map(function(d){
                    return {label:d.label, value:d.value, color:color(d.label)};});
            }
        }

        function nrdb() {
            var group = $("#inputGroup_th_three").val();

            var myData;
            $.ajax({
                url: "/api/pie/nrdb/"+group+"/",
                async: false,
                dataType: 'json',
                success: function(data) {
                    myData = data;
                }
            });

            var color = d3.scale.category20();

            if($("#th_body").html().indexOf('pie_nrdb') > -1) {
                Donut3D.transition("nrdb", getData(), 250, 175, 40, 0.4);

            }
            else {
                $("#th_body").html("<h3 class='page-title'>Nepal Redlist Database Status</h3><div id='pie_nrdb'></div>");
                $("#th_body").append("<p><b>NRDB Status Categories:</b> EXN - Extinct in Nepal, C - Critically Endangered, E - Endangered, V - Vulnerable, S - Susceptible, UR - Under Record</p>")
                var svg = d3.select("#pie_nrdb").append("svg").attr("width",800).attr("height",420);
                svg.append("g").attr("id","nrdb")
                Donut3D.draw("nrdb", getData(), 400, 200, 250, 175, 40, 0.4);
            }

            function getData(){
                return myData.map(function(d){
                    return {label:d.label, value:d.value, color:color(d.label)};});
            }
        }

        function zoo_pie() {
            var choice = $("input:radio[name=pie_choice]:checked").val();


            var myData;
            $.ajax({
                url: "/api/pie/zoo_"+choice+"/",
                async: false,
                dataType: 'json',
                success: function(data) {
                    myData = data;
                }
            });

            var color = d3.scale.category20();
            var title = choice == "species"?"Species":"Number";

            if($("#pa_body").html().indexOf('pie_zoo') > -1) {
                Donut3D.transition("zoo", getData(), 250, 175, 40, 0.4);
                $("#pieTitle").html("Species Types in Central Zoo by "+title);
            }
            else {

                $("#pa_body").html("<h3 class='page-title' id='pieTitle'>Species Types in Central Zoo by "+title+"</h3><div id='pie_zoo'></div>");
                var svg = d3.select("#pie_zoo").append("svg").attr("width",800).attr("height",420);
                svg.append("g").attr("id","zoo")
                Donut3D.draw("zoo", getData(), 400, 200, 250, 175, 40, 0.4);
            }

            function getData(){
                return myData.map(function(d){
                    return {label:d.label, value:d.value, color:color(d.label)};});
            }
        }

        function zoo() {
            var choice = $("input:radio[name=zoo]:checked").val();
            if(choice == "pie") {
                zoo_pie();
            }
        }

        $("input:radio[name=pie_choice]").change(function(){
            zoo_pie();
        });


        $("#threats_collapseOne").on('show.bs.collapse', function () {
                iucn_redlist();
        });

        $("#inputGroup_th_one").on('change', function () {
                iucn_redlist();
        });

        $("#threats_collapseTwo").on('show.bs.collapse', function () {
            cites();
        });

        $("#inputGroup_th_two").on('change', function () {
            cites();
        });

        $("#threats_collapseThree").on('show.bs.collapse', function () {
            nrdb();
        });

        $("#inputGroup_th_three").on('change', function () {
            nrdb();
        });

        $("#threats_collapseFour").on('show.bs.collapse', function () {
            var group = $("#inputGroup_th_four").val();
            $("#th_body").html("Loading...").load("/data_insights/iucn/threat/"+group+"/");
        });

        $("#inputGroup_th_four").on('change', function () {
            var group = $("#inputGroup_th_four").val();
            $("#th_body").html("Loading...").load("/data_insights/iucn/threat/"+group+"/");
        });

        $("#threats_collapseFive").on('show.bs.collapse', function () {
            var group = $("#inputGroup_th_five").val();
            $("#th_body").html("Loading...").load("/data_insights/iucn/conservation/"+group+"/");
        });

        $("#inputGroup_th_five").on('change', function () {
            var group = $("#inputGroup_th_five").val();
            $("#th_body").html("Loading...").load("/data_insights/iucn/conservation/"+group+"/");
        });

        function area_chart() {
            var choice = $("input:radio[name=area]:checked").val()
            if(choice == "pie")
                $("#pa_body").html("Loading...").load("/data_insights/protected_areas/area/pie/");
            else
                $("#pa_body").html("Loading...").load("/data_insights/protected_areas/area/line/");
        }

        $("#pa_collapseOne").on('show.bs.collapse', function () {
            area_chart();
        });

        $("input:radio[name=area]").on('change', function () {
            area_chart();
        });

        $("#pa_collapseTwo").on('show.bs.collapse', function () {
            var pa1 = $("#pa1").val();
            var pa2 = $("#pa2").val();
            $("#pa_body").html("Loading...").load("/data_insights/protected_areas/comparison/"+pa1+"/"+pa2+"/");
        });

        $("#pa1").on('change', function(){
            var pa1 = $("#pa1").val();
            var pa2 = $("#pa2").val();
            $("#pa_body").html("Loading...").load("/data_insights/protected_areas/comparison/"+pa1+"/"+pa2+"/");
        });

        $("#pa2").on('change', function(){
            var pa1 = $("#pa1").val();
            var pa2 = $("#pa2").val();
            $("#pa_body").html("Loading...").load("/data_insights/protected_areas/comparison/"+pa1+"/"+pa2+"/");
        });

        $("#pa_collapseThree").on('show.bs.collapse', function () {
            zoo();
        });

    </script>
{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet"  href="{% static "select2/select2.css" %}">
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />
    <style type="text/css">
        #pie_redlist, #pie_cites {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

            position: relative;
        }
        path.slice{
            stroke-width:2px;
        }
        polyline{
            opacity: .3;
            stroke: black;
            stroke-width: 2px;
            fill: none;
        }
        #pie_redlist svg text.percent{
            fill:black;
            text-anchor:middle;
            font-size:10px;
        }
        #pie_cites svg text.percent{
            fill:black;
            text-anchor:middle;
            font-size:14px;
        }

        #map {
            height: 500px;
            width: 800px;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.95);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

    </style>

{% endblock %}