{% extends "base/base.html" %}
{% load staticfiles %}
{% block pageTitle %}
    Biodiversity Inventory of Nepal with Data Analysis and Visualization
{% endblock %}

{% block bodyContents %}
    <!-- Header -->
    <header id="headindex">
        <div class="container">
            <div class="row">

                <form class="form-search" action="search" method="GET">
                    <div class="input-append">
                        <div id="searchbar">
                        <input type="text" name="q" placeholder="Search Species by Scientific name, Common name or Protected Areas" style="width: 550px; height: 40px; padding-left: 10px" class="typeahead">
                        <button type="submit" style="width: 100px; height: 40px; position: relative; top: 10px;">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </header>
    <!-- /Header -->

    <!-- Intro -->
    <div class="container text-center">
        <br> <br>
        <h2 class="thin">The best place to know about Biodiversity statistics of Nepal with proper data visualization</h2>
        <p class="text-muted">
            We offer the elegant visualization of Biodiversity data of Nepal.
        </p>
    </div>
    <!-- /Intro-->

    <!-- Highlights - jumbotron -->
    <div class="jumbotron top-space">
        <div class="container">

            <h3 class="text-center thin">#Something Something Here#</h3>

            <div class="row">
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i><a href="/protected_areas_list/">Protected Areas</a></h4></div>
                    <div class="h-body text-center">
                        <p>Protected areas cover a total of 23.23% of area in Nepal. 10 National Parks, 3 Wildlife reserves, 5 Conservation Area, 1 Hunting Reserve and some important Ramsar sites has been included in this section. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i><a href="/data_insights/">Data Insights</a></h4></div>
                    <div class="h-body text-center">
                        <p>Most of the data presented in this portal is collected from <a href="http://lib.icimod.org/record/7560">Nepal Biodiversity Resource Book</a>. About 90% of the species mentioned in the book has been recorded here. <a href="http://gbif.org">GBIF</a>, <a href="http://www.iucnredlist.org/" target="_blank">IUCN Red List</a> and <a href="http://www.catalogueoflife.org/" target="_blank">Catalouge of Life</a> are other sources.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-heart fa-5"> </i><a href="/protected_species">Protected Species</a></h4></div>
                    <div class="h-body text-center">
                        <p>A total of 38 species has been listed as <b>Protected Species</b> by Nepal Government, which comprises 26 mammals, 9 birds and 3 reptiles. 399 floral species has been listed as endemic. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i><a href="api/">API Solution</a></h4></div>
                    <div class="h-body text-center">
                        <p>The data collected in this portal can be accessed easily in Open Data formats as CSV and JSON by using API URLs. Click here to generate necessary API URLs and download data in required format.</p>
                    </div>
                </div>
            </div> <!-- /row  -->

        </div>
    </div>
    <!-- /Highlights -->

    <!-- container -->
    <div class="container">

        <h2 class="text-center top-space">Frequently Asked Questions</h2>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <h3>What is Biodiversity?</h3>
                <p>Biodiversity is the degree of variation of life. This can refer to genetic variation, species variation, or ecosystem variation within an area, biome, or planet. Biodiversity generally tends to cluster in hotspots,  and has been increasing through time but will be likely to slow in the future. </p>
            </div>
            <div class="col-sm-6">
                <h3>What is Biodiversity Inventory of Nepal?</h3>
                <p>“Biodiversity Inventory of Nepal” is an online repository of biodiversity information of Nepal with biodiversity data analysis and visualization. The main objective of the system is to provide detailed information regarding the flora and fauna species of Nepal. In addition to this, we also aim to provide proper visualization of data collected from different sources so that the system gives a concrete view of the biodiversity status of the country.</p>
            </div>
        </div> <!-- /row -->

        <div class="row">
            <div class="col-sm-6">
                <h3>Data Sources</h3>
                <p>
                    Information regarding different species is being collected from different sources such as Global Biodiversity Information Facility (GBIF), IUCN Red List of Threatened Species, and Wikimedia to name a few. The data required for analytics and visualization is collected from different governmental and non-governmental organizations such as Department of National Park and Wildlife Conservation (DNPWC), Department of Forest, ICIMOD, Bird Conservation Nepal (BCN), World Wildlife Fund (WWF) Nepal and so on who have been actively involved in this field.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>And Visualization?</h3>
                <p>Well, its the visual represenation of the data.</p>
            </div>
        </div> <!-- /row -->

        {% comment %}<div class="jumbotron top-space">
            <h4>We offer the elegant visualization of Biodiversity data of Nepal on the basis of Districts, National Parks and Protected Areas.</h4>
            <p class="text-right"><a class="btn btn-primary btn-large">Lets Proceed »</a></p>
        </div>{% endcomment %}

    </div>	<!-- /container -->


{% endblock %}
{% block additionalScripts %}
    <script src="{% static "js/typeahead.bundle.js" %}"></script>
    <script src="{% static "js/handlebars.js" %}"></script>
    <script type="text/javascript ">
        var species = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '/api/search/species/%QUERY'
        });

        var common = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('species_id__name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: '/api/search/common/%QUERY'
        });

        species.initialize();
        common.initialize();

        $('#searchbar .typeahead').typeahead({
                    highlight: true
                },
                {
                    name: 'nba-teams',
                    displayKey: 'name',
                    source: species.ttAdapter(),
                    templates: {
                        header: '<h3 class="search-title">Scientific Name</h3>'
                    }
                },
                {
                    name: 'nhl-teams',
                    displayKey: 'common_name',
                    source: common.ttAdapter(),
                    templates: {
                        header: '<h3 class="search-title">Common Name</h3>',
                        suggestion: Handlebars.compile('<p>{% verbatim %} {{common_name}}  - (<i>{{species_id__name}}</i>) {% endverbatim %}</p>')
                    }
                });
    </script>
{% endblock %}
{% block additionalCSS %}
    <style type="text/css">
        #searchbar .search-title {
            margin: 0 20px 5px 20px;
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
            font-size: 16px;
            text-align: left;
        }

        .tt-query,
        .tt-hint {
            width: 396px;
            height: 30px;
            padding: 8px 12px;
            font-size: 14px;
            line-height: 30px;
            border: 2px solid #ccc;
            border-radius: 8px;
            outline: none;

        }

        .tt-query {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #fff;

        }

        .tt-dropdown-menu {
            width: 550px;
            margin-top: 2px;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
            color: #000;
            text-align: left;

        }

        .tt-suggestion {
            padding: 3px 20px;
            font-size: 14px;
            line-height: 18px;

        }

        .tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
            color: #fff;
            background-color: #0097cf;

        }

        .tt-suggestion p {
            margin: 0;
        }
    </style>
{% endblock %}