{% extends "base/base-sidebar-right.html" %}
{% load staticfiles %}
{% load filters %}
{% block pageTitle %}{{ pa.name }} {{ pa.designation }}{% endblock%}
{% block title %}{{ pa.name }} {{ pa.designation }}{% endblock %}

{% block path %}<li><a href="/protected_areas_list/">Protected Areas</a></li>{% endblock %}

{% block sidebarContents %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <b class="panel-title">{% if pa.related %}{{ pa.designation }}{% else %}Quick View{% endif %}</b>
        </div>
        <table class="table-condensed">
            <tr><th>Name</th><td>{{ pa.name }} {{ pa.designation }}</td></tr>
            <tr><th>Designation</th><td>{{ pa.designation }}</td></tr>
            <tr><th>Estd. on</th><td>{% if pa.estd_year == 0 %}N/A{% else %}{{ pa.estd_year }} AD{% endif %}</td></tr>
            <tr><th>Area</th><td>{% if pa.area == 0 %}N/A{% else %}{{ pa.area }} km<sup>2</sup>{% endif %}</td></tr>
            <tr><th>IUCN Category</th><td>{{ pa.iucn_category }}</td></tr>

        </table>

    </div>

    {% if pa.related %}

        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title">{{ pa.related.designation }}</b>
            </div>
            <table class="table-condensed">
                <tr><th>Name</th><td>{{ pa.related.name }} {{ pa.related.designation }}</td></tr>
                <tr><th>Designation</th><td>{{ pa.related.designation }}</td></tr>
                <tr><th>Estd. on</th><td>{% if pa.related.estd_year == 0 %}N/A{% else %}{{ pa.related.estd_year }} AD{% endif %}</td></tr>
                <tr><th>Area</th><td>{% if pa.related.area == 0 %}N/A{% else %}{{ pa.related.area }} km<sup>2</sup>{% endif %}</td></tr>
                <tr><th>IUCN Category</th><td>{{ pa.related.iucn_category }}</td></tr>

            </table>

        </div>
    {% endif %}
    {% if pa.species %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title">Species in {{ pa.name }} {{ pa.designation }}</b>
            </div>

            <div id="chart1" align="center">


            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title">Threatened and Near threatened species in {{ pa.name }} {{ pa.designation }}</b>
            </div>

            <div id="chart2" align="center">


            </div>
        </div>
    {% endif %}
{% endblock %}

{% block articleContents %}
    <header class="page-header">
        <h1 class="page-title">{{ pa.name }} {{ pa.designation }}</h1>
    </header>

    <div id="map"></div>
    <p>
    {{ pa.description|safe }}
    </p>

    {% if pa.image %}
    <p>
        <h3>Images</h3>
        <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

    <div id="links">
        {% for image in pa.image %}
            <a href="{{ image }}"></a>
        {% endfor %}
    </div>
        
    </p>
    {% endif %}

    {% if pa.species %}
    <h2>Recorded Species</h2>
        {% for group in type %}
        {% for typ,species in pa.species.items %}
            {% if group == typ %}
            <h3>{{ group }}</h3>
                <div class="pull-right">
                    {% if species|length > 10 %}
                        Showing 10 of {{  species|length}} species.

                    <a data-toggle="modal" href="#" data-target="#myModal" onclick="loadModal('{{ pa.pa_id }}','{{ group }}')">
                        View All
                    </a>
                    {% endif %}
                </div>
                <br/>
                <div class="thumbnail-list">
<ul>

            {% for item in species|slice:":10" %}
                <li>
                    <a href="/species/{{ item.species_id }}/{{ item.name|slugify }}/" style="text-decoration : none; color : #000000;">

                    <img src="{% if item|image:150 %}{{ item|image:150|first }}{% else %}{% static "images/default_thumb.png" %}{% endif %}" style="height: 150px; width:150px;" >

                    <h3>{% if item|common_name %}{{ item|common_name|title }} - {% endif %}<i>{{ item.name }}</i></h3>
                    <p>{% if item|abstract %}{{ item|abstract|truncatewords:40|striptags }}{% endif %}</p>
                    </a>
                </li>
            {% endfor %}

            </ul>
            </div>
            {% endif %}
        {% endfor %}
        {% endfor %}



        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>

                    </div>
                    <div class="modal-body"></div>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    {% endif %}

{% endblock %}

{% block additionalScripts %}
    <script src="{% static "js/blueimp-gallery.min.js" %}"></script>

    <script src="{% static "js/d3.v3.min.js" %}"></script>
    <script type="text/javascript">
        {% if pa.species %}
        (function(){
            var margin = {top: 20, right: 20, bottom: 50, left: 40},
                    width = 350 - margin.left - margin.right,
                    height = 300 - margin.top - margin.bottom;

            var x = d3.scale.ordinal()
                    .rangeRoundBands([0, width], .1);

            var y = d3.scale.linear()
                    .rangeRound([height, 0]);

            var color = d3.scale.ordinal()
                    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

            var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

            var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left")
                    .tickFormat(d3.format(".2s"));

            var svg = d3.select("#chart2").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.json("/api/stackedbar/pa_fauna/{{ pa.pa_id }}/", function(error, data) {

                color.domain(d3.keys(data[0]).filter(function(key) { return key !== "Group"; }));

                data.forEach(function(d) {
                    var y0 = 0;
                    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
                    d.total = d.ages[d.ages.length - 1].y1;
                });

                data.sort(function(a, b) { return b.total - a.total; });

                x.domain(data.map(function(d) { return d.Group; }));
                y.domain([0, d3.max(data, function(d) { return d.total; })]);

                svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        .selectAll("text")

                        .style("text-anchor", "end")
                        .attr("dx", "-.8em")
                        .attr("dy", ".15em")

                        .attr("transform", function(d) {
                            return "translate(-5,0) rotate(-90)"
                        });


                svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)


                var state = svg.selectAll(".state")
                        .data(data)
                        .enter().append("g")
                        .attr("class", "g")
                        .attr("transform", function(d) { return "translate(" + x(d.Group) + ",0)"; });

                state.selectAll("rect")
                        .data(function(d) { return d.ages; })
                        .enter().append("rect")
                        .attr("width", x.rangeBand())
                        .attr("y", function(d) { return y(d.y1); })
                        .attr("height", function(d) { return y(d.y0) - y(d.y1); })
                        .style("fill", function(d) { return color(d.name); });

                var legend = svg.selectAll(".legend")
                        .data(color.domain().slice().reverse())
                        .enter().append("g")
                        .attr("class", "legend")
                        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                        .attr("x", width - 18)
                        .attr("width", 18)
                        .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                        .attr("x", width - 24)
                        .attr("y", 9)
                        .attr("dy", ".35em")
                        .style("text-anchor", "end")
                        .text(function(d) { return d; });

            });

        })();

        (function(){
            var margin = {top: 20, right: 20, bottom: 75, left: 40},
                    width = 350 - margin.left - margin.right,
                    height = 300 - margin.top - margin.bottom;

            var x = d3.scale.ordinal()
                    .rangeRoundBands([0, width], .1);

            var y = d3.scale.linear()
                    .range([height, 0]);

            var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

            var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left")


            var svg = d3.select("#chart1").append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.json("/api/bar/pa_species/{{ pa.pa_id }}/", function(error, data) {
                x.domain(data.map(function(d) { return d.name; }));
                y.domain([0, d3.max(data, function(d) { return d.value; })]);

                svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        .selectAll("text")

                        .style("text-anchor", "end")
                        .attr("dx", "-.8em")
                        .attr("dy", ".15em")

                        .attr("transform", function(d) {
                            return "translate(-5,0) rotate(-90)"
                        });;

                svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)


                svg.selectAll(".bar")
                        .data(data)
                        .enter().append("rect")
                        .attr("class", "bar")
                        .attr("x", function(d) { return x(d.name); })
                        .attr("width", x.rangeBand())
                        .attr("y", function(d) { return y(d.value); })
                        .attr("height", function(d) { return height - y(d.value); });

                svg.selectAll("text.bar")
                        .data(data)
                        .enter().append("text")
                        .attr("class", "bar")
                        .attr("text-anchor", "middle")
                        .attr("x", function(d) { return x(d.name)+20; })
                        .attr("y", function(d) { return y(d.value) - 5; })
                        .text(function(d) { return d.value; });

            });

            function type(d) {
                d.value = +d.value;
                return d;
            }
        })();

        {% endif %}

    </script>

    <script type="text/javascript">
        {% if pa.image %}
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };

        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );
        {% endif %}
    </script>

    <script type="text/javascript">
        function loadModal(id,type){
            $(".modal-title").html(type);
            $(".modal-body").load("/species_list/"+id+"/"+type+"/");
        }
    </script>

    <script src="{% static "js/leaflet.js" %}"></script>
    <script src="{% static "js/pa_shape.geojson" %}"></script>

    <script type="text/javascript">
        var map = L.map('map').setView([{{ pa.longitude }}, {{ pa.latitude }}], getZoomLevel());
        L.tileLayer('http://{s}.tiles.mapbox.com/v3/smaske.i83ipmj1/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18
        }).addTo(map);

        function getZoomLevel() {
            var str = "{{ pa.area }}";
            str = str.replace(",", "");
            var area = parseInt(str);

            if(area > 3500) return 8;
            if(area > 900) return 9;
            if(area > 400) return 10;
            if(area > 100) return 11;
            else return 12;

        }


        function style(feature) {
            if(feature.properties.ID == {{ pa.pa_id }})
            return {
                fillColor: "#008A2E",
                weight: 1,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
            else if(feature.properties.ID == {% if pa.related %}{{ pa.related.pa_id }}{% else %}""{% endif %})
               return {
                   fillColor: "#00C800",
                   weight: 1,
                   opacity: 1,
                   color: 'white',
                   dashArray: '3',
                   fillOpacity: 0.7
               }
            else
            return {
                weight: 0,
                opacity: 0,
                fillOpacity: 0
            }
        }

        geojson = L.geoJson(shapes, {
            style: style
        }).addTo(map);

        {% if pa.related %}
            var legend = L.control({position: 'topright'});

            legend.onAdd = function (map) {

                var div = L.DomUtil.create('div', 'info legend'),
                        grades = ["{{ pa.name }} {{ pa.designation }}", "{{ pa.related.name }} {{ pa.related.designation }}"],
                        labels = [];

                // loop through our density intervals and generate a label with a colored square for each interval
                div.innerHTML += '<i style="background:#008A2E"></i> '+ grades[0] + '<br/>';
                div.innerHTML += '<i style="background:#00C800"></i> '+ grades[1] + '<br/>';

                return div;
            };

            legend.addTo(map);
        {% endif %}

    </script>




{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static "css/blueimp-gallery.min.css" %}">
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />

    <style type="text/css">
        #map {
            height: 300px;
            width: 100%;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.95);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        #myModal .modal-dialog
        {
            width: 780px;/* your width */
            /*overflow-y:auto;
            max-height:95%;*/
        }

        #chart1, #chart2 {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .bar {
            fill: steelblue;
        }

        .x.axis path {
            display: none;
        }


    </style>

{% endblock %}