{% extends "base/base-sidebar-right.html" %}
{% load staticfiles %}
{% load filters %}
{% block pageTitle %}Protected Areas{% endblock%}
{% block title %}Protected Areas{% endblock %}

{% block sidebarContents %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <b class="panel-title">Quick Fact</b>
        </div>

        <div id="fact" style="padding: 5px;">
        {{ fact|safe }}

        </div>
    </div>

    <div class="panel panel-info">
    <div class="panel-heading">
        <b class="panel-title">Types of Protected Area</b>
    </div>

        <div id="chart1" align="center" style="padding: 5px;">
            <div align="right">
                <input type="radio" name="choice" value="1" checked=""> By Number &nbsp;
                <input type="radio" name="choice" value="2"> By Area (km<sup>2</sup>)
            </div>
            <input type="hidden" id="data_type" value="1">
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <b class="panel-title">Fauna Types in Protected Areas</b>
        </div>
        <a href="#" data-toggle="modal" data-target="#myModal" onclick="chart2('.modal-body',500,450); $('.modal-title').html('Fauna Types in Protected Areas');" style="text-decoration: none;">
        <div id="chart2" align="center">


        </div>
        </a>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <b class="panel-title">Flora Types in Protected Areas</b>
        </div>
        <a href="#" data-toggle="modal" data-target="#myModal" onclick="chart3('.modal-body',500,450); $('.modal-title').html('Flora Types in Protected Areas');" style="text-decoration: none;">
        <div id="chart3" align="center">


        </div>
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>

                </div>
                <div class="modal-body" align="center"></div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}

{% block articleContents %}
    <header class="page-header">
        <h1 class="page-title">Protected Areas</h1>
    </header>


    <div id="map"></div>
    <div class="row row-sm-height">
    {% for type in pa_type %}

        <div class="col-md-6 col-sm-height col-top">
            <h3>{{ type }}</h3>
        <ol class="rounded-list">
        {% for typ,p in pa_list.items %}
            {% if typ == type %}
                {% for item in p  %}
                    <li><a href="/protected_area/{{ item.pa_id }}/{{ item.name }}">{{ item.name }} {{ item.designation }}</a></li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ol>
        </div>
        {% if forloop.last %}
            </div>
        {% else %}
            {% if forloop.counter|divisibleby:"2" %}
                </div><div class="row row-sm-height">
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block additionalScripts %}
    <script src="{% static "js/d3.v3.min.js" %}"></script>
    <script src="{% static "js/3DPie.js" %}"></script>
    <script type="text/javascript">
        (function() {
            var pa_count, pa_area;
            $.ajax({
                url: "/api/pie/pa_count",
                async: false,
                dataType: 'json',
                success: function(data) {

                    pa_count = data;
                }
            });
            $.ajax({
                url: "/api/pie/pa_area",
                async: false,
                dataType: 'json',
                success: function(data) {

                    pa_area = data;
                }
            });




            var color = d3.scale.category20();

            var svg = d3.select("#chart1").append("svg").attr("width",300).attr("height",300);

            svg.append("g").attr("id","salesDonut");


            Donut3D.draw("salesDonut", getData(), 150, 150, 130, 100, 30, 0.4);

            $('input[name=choice]').change(function(){
                Donut3D.transition("salesDonut", getData(), 130, 100, 30, 0.4);
            });

            function getData(){
                var data_type = document.getElementById("data_type");
                if(data_type.value == "1") {
                    data_type.value = "2";
                    return pa_count.map(function(d){
                        return {label:d.label.replace(/[^A-Z]/g, ''), value:d.value, color:color(d.label)};});
                }
                else {
                    data_type.value = "1";
                    return pa_area.map(function(d){
                        return {label:d.label.replace(/[^A-Z]/g, ''), value:d.value, color:color(d.label)};});
                }

            }
        })();

        chart2("#chart2",350,300);
        chart3("#chart3",350,300);

        function chart2(parent, wdt, hgt){
            var margin = {top: 20, right: 20, bottom: 60, left: 40},
                    width = wdt - margin.left - margin.right,
                    height = hgt - margin.top - margin.bottom;

            var x = d3.scale.ordinal()
                    .rangeRoundBands([0, width], .1);

            var y = d3.scale.linear()
                    .rangeRound([height, 0]);

            var color = d3.scale.ordinal()
                    .range(["#98abc5", "#8a89a6", "#7b6888", "#6b486b"]);

            var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

            var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left")
                    .tickFormat(d3.format(".2s"));
            $(".modal-body").html("");
            var svg = d3.select(parent).append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.json("/api/stackedbar/pa_fauna_count/", function(error, data) {

                color.domain(d3.keys(data[0]).filter(function(key) { return key !== "PA"; }));

                data.forEach(function(d) {
                    var y0 = 0;
                    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
                    d.total = d.ages[d.ages.length - 1].y1;
                });

                data.sort(function(a, b) { return b.total - a.total; });

                x.domain(data.map(function(d) { return d.PA; }));
                y.domain([0, d3.max(data, function(d) { return d.total; })]);

                svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        .selectAll("text")

                        .style("text-anchor", "end")
                        .attr("dx", "-.8em")
                        .attr("dy", ".15em")

                        .attr("transform", function(d) {
                            return "translate(-5,0) rotate(-90)"
                        });


                svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)

                var state = svg.selectAll(".state")
                        .data(data)
                        .enter().append("g")
                        .attr("class", "g")
                        .attr("transform", function(d) { return "translate(" + x(d.PA) + ",0)"; });

                state.selectAll("rect")
                        .data(function(d) { return d.ages; })
                        .enter().append("rect")
                        .attr("width", x.rangeBand())
                        .attr("y", function(d) { return y(d.y1); })
                        .attr("height", function(d) { return y(d.y0) - y(d.y1); })
                        .style("fill", function(d) { return color(d.name); });

                var legend = svg.selectAll(".legend")
                        .data(color.domain().slice().reverse())
                        .enter().append("g")
                        .attr("class", "legend")
                        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                        .attr("x", width - 18)
                        .attr("width", 18)
                        .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                        .attr("x", width - 24)
                        .attr("y", 9)
                        .attr("dy", ".35em")
                        .style("text-anchor", "end")
                        .text(function(d) { return d; });

            });

        };

        function chart3(parent, wdt, hgt){
            var margin = {top: 20, right: 20, bottom: 60, left: 40},
                    width = wdt - margin.left - margin.right,
                    height = hgt - margin.top - margin.bottom;

            var x = d3.scale.ordinal()
                    .rangeRoundBands([0, width], .1);

            var y = d3.scale.linear()
                    .rangeRound([height, 0]);

            var color = d3.scale.ordinal()
                    .range([ "#8a89a6", "#7b6888"]);

            var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("bottom");

            var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left")
                    .tickFormat(d3.format(".2s"));
            $(".modal-body").html("");
            var svg = d3.select(parent).append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.json("/api/stackedbar/pa_flora_count/", function(error, data) {

                color.domain(d3.keys(data[0]).filter(function(key) { return key !== "PA"; }));

                data.forEach(function(d) {
                    var y0 = 0;
                    d.ages = color.domain().map(function(name) { return {name: name, y0: y0, y1: y0 += +d[name]}; });
                    d.total = d.ages[d.ages.length - 1].y1;
                });

                data.sort(function(a, b) { return b.total - a.total; });

                x.domain(data.map(function(d) { return d.PA; }));
                y.domain([0, d3.max(data, function(d) { return d.total; })]);

                svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis)
                        .selectAll("text")

                        .style("text-anchor", "end")
                        .attr("dx", "-.8em")
                        .attr("dy", ".15em")

                        .attr("transform", function(d) {
                            return "translate(-5,0) rotate(-90)"
                        });


                svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)


                var state = svg.selectAll(".state")
                        .data(data)
                        .enter().append("g")
                        .attr("class", "g")
                        .attr("transform", function(d) { return "translate(" + x(d.PA) + ",0)"; });

                state.selectAll("rect")
                        .data(function(d) { return d.ages; })
                        .enter().append("rect")
                        .attr("width", x.rangeBand())
                        .attr("y", function(d) { return y(d.y1); })
                        .attr("height", function(d) { return y(d.y0) - y(d.y1); })
                        .style("fill", function(d) { return color(d.name); });

                var legend = svg.selectAll(".legend")
                        .data(color.domain().slice().reverse())
                        .enter().append("g")
                        .attr("class", "legend")
                        .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

                legend.append("rect")
                        .attr("x", width - 18)
                        .attr("width", 18)
                        .attr("height", 18)
                        .style("fill", color);

                legend.append("text")
                        .attr("x", width - 24)
                        .attr("y", 9)
                        .attr("dy", ".35em")
                        .style("text-anchor", "end")
                        .text(function(d) { return d; });

            });

        }

    </script>
    
    
    <script src="{% static "js/leaflet.js" %}"></script>
    <script src="{% static "js/pa_shape.geojson" %}"></script>

    <script type="text/javascript">

        var map = L.map('map').setView([28.2639, 84.1], 7);
        L.tileLayer('http://{s}.tiles.mapbox.com/v3/smaske.i83ipmj1/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18
        }).addTo(map);

        function getColor(d) {

            return d == "National Park" ? '#008A2E' :
                    d == "Wildlife Reserve"  ? '#888A89' :
                            d == "Conservation Area"  ? '#E7B28B' :
                                    d == "Hunting Reserve"  ? '#FE8786' :
                                            d == "National Park - Buffer Zone"   ? '#00C800' :
                                                    d == "Ramsar Site"   ? '#455ADB' :
                                                            d == "World Heritage Site"   ? '#F00000' :
                                                                    d == "Zoo" ? '#FFCC00' :
                                                                            '#008A2E';
        }

        function style(feature) {
            return {
                fillColor: getColor(feature.properties.desig),
                weight: 1,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7
            };
        }


        var info = L.control({position: 'topright'});

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function (props) {
            this._div.innerHTML = props ?
                    '<h4>'+props.name+' '+props.desig+'</h4>'+'<b>Estd: ' + '</b>' + (props.status_yr == 0 ? "N/A" : props.status_yr + ' AD') + '<br />' + '<b>Area: ' + '</b>' + (props.rep_area == 0 ? "N/A" : parseInt(props.rep_area) + ' sq. km.') + '<br />'
                    : '<h4>Protected Areas</h4> Hover over a protected area';
        };

        info.addTo(map);

        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 2,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });



            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            var layer = e.target;
            geojson.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            map.fitBounds(e.target.getBounds());
        }




        function onEachFeature(feature, layer) {
            layer.on({
                mouseover: highlightFeature,
                mouseout: resetHighlight,
                click: zoomToFeature
            });



            if(feature.properties.rep_area < 5) {

                var marker = L.marker(getCenter(feature)).addTo(map);
            }
        }


        geojson = L.geoJson(shapes, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);

        var legend = L.control({position: 'bottomleft'});

        legend.onAdd = function (map) {

            var div = L.DomUtil.create('div', 'info legend'),
                    grades = ["National Park", "Wildlife Reserve", "Conservation Area", "Hunting Reserve", "National Park - Buffer Zone", "Ramsar Site", "World Heritage Site", "Zoo"],
                    labels = [];

            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML += '<i style="background:' + getColor(grades[i]) + '"></i> '+ grades[i] + '<br/>';
            }

            return div;
        };

        legend.addTo(map);
/*
        for (var i = 0; i < shapes.features.length; i++) {
            var pa = shape.features[i].properties;
            if (pa.rep_area < 5) {
                var marker = L.marker(getCenter(shapes.features[i])).addTo(map);
            }

        }*/

        function getCenter(feature) {
            var coord = feature.geometry.coordinates[0];
            //alert(coord);
            var sumx = 0; var sumy = 0; var n = 0;
            for (var i =0; i<coord.length; i++) {
                sumx += coord[i][0];
                sumy += coord[i][1];
                n++;
            }

            //alert(n);

            var arr = [sumy/n,sumx/n];

            return arr;
        }



    </script>




{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />

    <style type="text/css">
        #map {
            height: 500px;
            width: 100%;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.95);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

            /* columns of same height styles */
        .container-xs-height {
            display:table;
            padding-left:0px;
            padding-right:0px;
        }
        .row-xs-height {
            display:table-row;
        }
        .col-xs-height {
            display:table-cell;
            float:none;
        }
        @media (min-width: 768px) {
            .container-sm-height {
                display:table;
                padding-left:0px;
                padding-right:0px;
            }
            .row-sm-height {
                display:table-row;
            }
            .col-sm-height {
                display:table-cell;
                float:none;
            }
        }
        @media (min-width: 992px) {
            .container-md-height {
                display:table;
                padding-left:0px;
                padding-right:0px;
            }
            .row-md-height {
                display:table-row;
            }
            .col-md-height {
                display:table-cell;
                float:none;
            }
        }
        @media (min-width: 1200px) {
            .container-lg-height {
                display:table;
                padding-left:0px;
                padding-right:0px;
            }
            .row-lg-height {
                display:table-row;
            }
            .col-lg-height {
                display:table-cell;
                float:none;
            }
        }

            /* vertical alignment styles */
        .col-top {
            vertical-align:top;
        }
        .col-middle {
            vertical-align:middle;
        }
        .col-bottom {
            vertical-align:bottom;
        }

        path.slice{
            stroke-width:2px;
        }
        polyline{
            opacity: .3;
            stroke: black;
            stroke-width: 2px;
            fill: none;
        }
        svg text.percent{
            fill:black;
            text-anchor:middle;
            font-size:12px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }


        #chart2, #chart3 {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

        .bar {
            fill: steelblue;
        }

        .x.axis path {
            display: none;
        }
    </style>

{% endblock %}