{% extends "base/base-sidebar-right.html" %}
{% load staticfiles %}
{% load filters %}

{% block pageTitle %}{% if common %}{{ common.0.common_name|title }} - {% endif %}{{ main.name }}{% endblock%}
{% block title %}{{ main.name }}{% endblock %}



{% block sidebarContents %}
{% if clazz %}
    <div class="panel panel-info">
    <div class="panel-heading">
        <b class="panel-title">Classification</b>
    </div>
    <table class="table table-condensed">
        <tr>
            <th style="padding-left: 25px">Kingdom</th><td><a href="/taxa/kingdom/{{ clazz.0.kingdom }}">{{ clazz.0.kingdom }}</a></td>
        </tr>
        <tr>
            <th style="padding-left: 25px">Phylum</th><td><a href="/taxa/phylum/{{ clazz.0.phylum }}">{{ clazz.0.phylum }}</a></td>
        </tr>
        <tr>
            <th style="padding-left: 25px">Class</th><td><a href="/taxa/class_field/{{ clazz.0.class_field }}">{{ clazz.0.class_field }}</a></td>
        </tr>
        <tr>
            <th style="padding-left: 25px">Order</th><td><a href="/taxa/order/{{ clazz.0.order }}">{{ clazz.0.order }}</a></td>
        </tr>
        <tr>
            <th style="padding-left: 25px">Family</th><td><a href="/taxa/family/{{ clazz.0.family }}">{{ clazz.0.family }}</a></td>
        </tr>
        <tr>
            <th style="padding-left: 25px">Genus</th><td><a href="/taxa/genus/{{ clazz.0.genus }}">{{ clazz.0.genus }}</a></td>
        </tr>
        <tr>
            <th style="padding-left: 25px">Species</th><td><a href="#">{{ name.0.accepted_name }}</a></td>
        </tr>
    </table>
    {% comment %}<ul class="list-group">
        <li class="list-group-item">Kingdom: {{ clazz.0.kingdom }}</li>
        <li class="list-group-item">Phylum: {{ clazz.0.phylum }}</li>
        <li class="list-group-item">Class: {{ clazz.0.class_field }}</li>
        <li class="list-group-item">Order: {{ clazz.0.order }}</li>
        <li class="list-group-item">Family:{{ clazz.0.family }}</li>
        <li class="list-group-item">Genus: {{ clazz.0.genus }}</li>
        <li class="list-group-item">Species: {{ name.0.accepted_name }}</li>
    </ul>{% endcomment %}
    </div>

{% endif %}
{% if status %}
    <div class="panel panel-info">
    <div class="panel-heading">
        <b class="panel-title">Status</b>
    </div>
    
    <table class="table-condensed">
        {% if iucn.0.status %}<tr><td colspan="2" align="center"><img src="/assets/images/iucn/{{ iucn.0.status }}.png" style="width: 100%;"></td></tr>{% endif %}
        {% if status.0.cites and status.0.cites != "NULL" %}<tr><td colspan="2"><div align="center">Listed in <b>CITES Appendix {{ status.0.cites }}</b></div></td> </tr>{% endif %}

        {% if status.0.protected %}<tr><th style="padding-left: 15px;" width="50%">Nepal Government</th><td width="50%">Protected</td></tr>{% endif %}
        {% if status.0.endemic %}}<tr><th style="padding-left: 15px;">Endemic Species</th><td>Yes</td></tr>{% endif %}
        {% if status.0.nrdb and status.0.nrdb != "NULL"%}<tr><th style="padding-left: 15px;">NRDB Status</th><td>{{ nrdb }}</td></tr>{% endif %}
        {% if iucn.0.population_trend %}<tr><th style="padding-left: 15px;">Population Trend</th>
            <td>
                {% if iucn.0.population_trend|lower == "increasing" %}
                    <p class="text-success">{{ iucn.0.population_trend|title }} <span class="glyphicon glyphicon-arrow-up"></span></p>
                {% endif %}
                {% if iucn.0.population_trend|lower == "decreasing" %}
                    <p class="text-danger">{{ iucn.0.population_trend|title }} <span class="glyphicon glyphicon-arrow-down"></span></p>
                {% endif %}
                {% if iucn.0.population_trend|lower == "stable" %}
                    <p class="text-info">{{ iucn.0.population_trend|title }} <span class="glyphicon glyphicon-ok"></span></p>
                {% endif %}
                {% if iucn.0.population_trend|lower == "unknown" %}
                    <p class="text-warning">{{ iucn.0.population_trend|title }} <span class="glyphicon glyphicon-question-sign"></span></p>
                {% endif %}
            </td></tr>
        {% endif %}
    </table>
    </div>
{% endif %}
    
{% if name %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <b class="panel-title">Synonyms</b>
        </div>
        <table class="table-condensed">

            {% for item in name|slice:":5" %}
                <tr><td colspan="2" style="padding-left: 15px;">{{ item.synonym }} <i>{{ item.authority }}</i></td></tr>
            {% endfor %}

            <tr class="success">
                <th width="40%" valign="top">Accepted name</th>
                <td>{{ name.0.accepted_name }} <i>{{ name.0.accepted_authority }}</i></td>
            </tr>

        </table>
    </div>

   
{% endif %}
{% if common %}
    <div class="panel panel-info">
    <div class="panel-heading">
        <b class="panel-title">Common names</b>
    </div>

    <ul class="list-group">
    {% for item in common %}
        <li class="list-group-item">{{ item.common_name }}</li>
    {% endfor %}
    </ul>
    </div>
{% endif %}


    {% if habitat %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title">Habitats</b>
            </div>

        <div class="panel-group" id="accordion_habitat">
        {% for key,item in habitat.items %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion_habitat" href="#{{ key|slugify }}">
                            {{ key }}
                        </a>
                    </p>
                </div>
                <div id="{{ key|slugify }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul type="disc">
                            {% for value in item %}
                                <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {% endfor %}
            </div>
        </div>
    {% endif %}


    {% if threats %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title">Threats</b>
            </div>
            <div class="panel-group" id="accordion_threats">
                {% for key,item in threats.items %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion_threats" href="#{{ key|slugify }}">
                                    {{ key }}
                                </a>
                            </p>
                        </div>
                        <div id="{{ key|slugify }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul type="disc">
                                    {% for value in item %}
                                        <li>{{ value }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if conservation %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <b class="panel-title">Actions</b>
            </div>
            <div class="panel-group" id="accordion_conservation">
                {% for key,item in conservation.items %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion_conservation" href="#{{ key|slugify }}">
                                    {{ key }}
                                </a>
                            </p>
                        </div>
                        <div id="{{ key|slugify }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul type="disc">
                                    {% for value in item %}
                                        <li>{{ value }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}



    {% if external_keys %}
    <div class="panel panel-info">
    <div class="panel-heading">
        <b class="panel-title">External Links</b>
    </div>

    <ul class="list-group">
    {% if external_keys.0.gbif_key %}<li class="list-group-item"><a href="http://www.gbif.org/species/{{ external_keys.0.gbif_key }}" target="_blank">Global Biodiversity Information Facility</a></li>{% endif %}
    {% if external_keys.0.iucn_key %}<li class="list-group-item"><a href="http://www.iucnredlist.org/details/{{ external_keys.0.iucn_key }}/0" target="_blank">IUCN Red List of Threatened Species</a></li>{% endif %}
    {% if external_keys.0.col_key %}<li class="list-group-item"><a href="http://www.catalogueoflife.org/col/details/species/id/{{ external_keys.0.col_key }}" target="_blank">Catalouge of Life</a></li>{% endif %}
    </ul>
    </div>


{% endif %}




{% endblock %}

{% block articleContents %}
    <header class="page-header">
        <h1 class="page-title">{% if common %}{{ common.0.common_name|title }} - {% endif %}<i>{{ main.name }}</i></h1>
    </header>

    {% if abstract %}
        <p>
            {{ abstract.description|safe }}
        </p>
    {% endif %}

    {% if img %}


        <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <div id="links">
            {% for image in img %}
                <a href="{{ image }}"></a>
            {% endfor %}
        </div>



    {% endif %}

    {% if pa %}
        <h3>Occurrences in Nepal</h3>
        <p>
            {% if common %}{{ common.0.common_name|title }} - {% endif %}<i>{{ main.name }}</i> has been recorded in following protected areas of Nepal.
            {% if pa|length <= 5 %}
                <ul>
                    {% for field in pa %}
                        <li><a href="/protected_area/{{ field.pa_id }}/{{ field.name }}">{{ field.name }} {{ field.designation }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <table class="table pa_list" align="center"><tr>
                    {% for field in pa %}
                        <td><a href="/protected_area/{{ field.pa_id }}/{{ field.name }}">{{ field.name }} {{ field.designation }}</a></td>
                        {% if forloop.last %}
                            </tr>
                        {% else %}
                            {% if forloop.counter|divisibleby:"3" %}
                                </tr><tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        <div id="map"></div>
        </p>

    {% endif %}

    {% if description %}
    <h3>Species Details from GBIF</h3>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% for item in description %}
            {% if item.type in titles %}
                {% if forloop.first %}
                    <li class="active"><a href="#{{ item.type|slugify }}" role="tab" data-toggle="tab">{{ item.type|title }}</a></li>
                {% else %}
                    <li><a href="#{{ item.type|slugify }}" role="tab" data-toggle="tab">{{ item.type|title }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% for item in description %}
            {% if item.type in titles %}
                {% if forloop.first %}
                    <div class="tab-pane active" id="{{ item.type|slugify }}" style="padding: 5px;">{{ item.description|safe }}</div>
                {% else %}
                    <div class="tab-pane" id="{{ item.type|slugify }}" style="padding: 5px;">{{ item.description|safe }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}

    </div>

    {% endif %}
    {% if related %}
    <h3>Similar Species</h3>
    <div class="row">
        {% for item in related|slice:":4" %}
            <div class="col-sm-6 col-md-3">
                <a href="/species/{{ item.species_id }}/{{ item.name|slugify }}/" style="text-decoration : none; color : #000000;">
                <div class="thumbnail">
                    <img src="{% if item|image:171 %}{{ item|image:150|first }}{% else %}{% static "images/default_thumb.png" %}{% endif %}" style="height: 180px; width:171px;;" >
                    <div class="caption">
                        {% if item|common_name %}{{ item|common_name|title }} - {% endif %}<i>{{ item.name }}</i>
                    </div>
                </div>
                </a>
            </div>

        {% endfor %}
    </div>
    {% endif %}

{% endblock %}

{% block additionalScripts %}
    {% if img %}
    <script src="{% static "js/blueimp-gallery.min.js" %}"></script>

    <script type="text/javascript">
        document.getElementById('links').onclick = function (event) {
            event = event || window.event;
            var target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');
            blueimp.Gallery(links, options);
        };

        blueimp.Gallery(
                document.getElementById('links').getElementsByTagName('a'),
                {
                    container: '#blueimp-gallery-carousel',
                    carousel: true
                }
        );
    </script>
    {% endif %}

    {% if pa %}

    <script src="{% static "js/leaflet.js" %}"></script>
    <script src="{% static "js/pa_shape.geojson" %}"></script>

    <script type="text/javascript">



        var map = L.map('map').setView([28.2639, 84.1], 7);
        L.tileLayer('http://{s}.tiles.mapbox.com/v3/smaske.i83ipmj1/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18
        }).addTo(map);

        $("body").on("shown.bs.tab", "#pa-map", function() {
            map.invalidateSize(false);
        });

        function getColor(d) {

            return '#008A2E';
        }


        function style(feature) {
            {% for item in pa %}
                {% if forloop.first %}
                if(feature.properties.ID == {{ item.pa_id }}) {
                    {% else %}
                else if(feature.properties.ID == {{ item.pa_id }}) {
                {% endif %}

                    return {
                        fillColor: getColor(feature.properties.desig),
                        weight: 1,
                        opacity: 1,
                        color: 'white',
                        dashArray: '3',
                        fillOpacity: 0.7
                    };
                }

            {% endfor %}

            else {
            return {
                weight: 0,
                opacity: 0,
                fillOpacity: 0
            }
            }

        }


        var info = L.control({position: 'topright'});

        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        // method that we will use to update the control based on feature properties passed
        info.update = function (props) {
            this._div.innerHTML = props ?
                    '<h4>'+props.name+' '+props.desig+'</h4>'+'<b>Estd: ' + '</b>' + (props.status_yr == 0 ? "N/A" : props.status_yr + ' AD') + '<br />' + '<b>Area: ' + '</b>' + (props.rep_area == 0 ? "N/A" : parseInt(props.rep_area) + ' sq. km.') + '<br />'
                    : '<h4>Protected Areas</h4> Hover over a protected area';
        };

        info.addTo(map);

        function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 2,
                color: '#666',
                dashArray: '',
                fillOpacity: 0.7
            });



            info.update(layer.feature.properties);
        }

        function resetHighlight(e) {
            var layer = e.target;
            geojson.resetStyle(e.target);
            info.update();
        }

        function zoomToFeature(e) {
            map.fitBounds(e.target.getBounds());
        }




        function onEachFeature(feature, layer) {


        {% for item in pa %}
            if(feature.properties.ID == {{ item.pa_id }}) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });

                    var marker = L.marker(getCenter(feature)).addTo(map);

            }

        {% endfor %}



        }


        geojson = L.geoJson(shapes, {
            style: style,
            onEachFeature: onEachFeature
        }).addTo(map);




        /*
         for (var i = 0; i < shapes.features.length; i++) {
         var pa = shape.features[i].properties;
         if (pa.rep_area < 5) {
         var marker = L.marker(getCenter(shapes.features[i])).addTo(map);
         }

         }*/

        function getCenter(feature) {
            var coord = feature.geometry.coordinates[0];
            //alert(coord);
            var sumx = 0; var sumy = 0; var n = 0;
            for (var i =0; i<coord.length; i++) {
                sumx += coord[i][0];
                sumy += coord[i][1];
                n++;
            }

            //alert(n);

            var arr = [sumy/n,sumx/n];

            return arr;
        }



    </script>

{% endif %}
{% endblock %}

{% block additionalCSS %}
    <link rel="stylesheet" href="{% static "css/blueimp-gallery.min.css" %}">
    <link rel="stylesheet" href="{% static "css/leaflet.css" %}" />

    <style type="text/css">
        #map {
            height: 500px;
            width: 100%;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.95);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }

        span.glyphicon {
            font-size: 1.2em;
        }

        table.pa_list {
            width: auto !important;
        }
        table.pa_list td {

            width: auto !important;
        }
    </style>

{% endblock %}